h1 {
  text-align: center;
  font-size: 32px;
}
h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 4px;
}
.main_area{/*要素の箱を作り、中心にそろえる*/
  
   text-align: center;
   border: 2px solid #aaa;
   width: 300px;   
   margin: 0 auto; 
   padding: 10px;
   
}
.subhead{/*要素の塊を左に*/
  
  display: flex;
  align-items: baseline; /* 文字のベースラインで揃える */
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  gap: 20px; 
 
}
.subheadText{/*要素の塊を左に*/
  font-size: 12px;
}
 

.message {
  margin-top: 30px;
  width: 220px;      /* またはお好きな幅を指定 */
  margin: 0 auto;
  font-size: 10px;
  text-align: left;
  margin-bottom: 16px;
}
form {
  margin: 0;
  padding: 0;
}
.reSend {
  text-align: right;
   
}
.reSend input {
  
 font-size: 8px !important;

}
